html,
body {
    height: 100%;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.inner-menu{
    display: block;
    background-color: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 30px;
}

.inner-menu .list-inline{
    margin-bottom: 0px;
}

.inner-menu ul li a{
    color:#000;
}



.btn{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 20px;
    border: 3px solid #fff;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.11);
    border-radius: 20px;

}

.btn:hover{
    border: 3px solid #fff;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.11);
}

.btn.btn-success{
    background-image: linear-gradient(180deg, #5cb85c, #4cae4c);
}

.btn.btn-danger{
    background-image: linear-gradient(180deg, #d9534f, #d43f3a);
}

.btn.btn-primary{
    background-image: linear-gradient(180deg, #337ab7, #2e6da4);
}